.product_page {
  padding: 0 25px;
  margin-bottom: 60px;
}

.breadcrumps {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumps > span {
  font-size: 2rem;
  margin: 1rem;
  color: aliceblue;
}

.breadcrumps-link {
  display: inline-block;
  position: relative;
  width: max-content;
  height: max-content;
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  overflow: hidden;
}

.breadcrumps-link::after {
  position: absolute;
  bottom: 6px;
  right: 0;
  content: '';
  height: 1px;
  width: 0%;
  background: white;
  transition: 0.5s all;
}

.breadcrumps-link:hover::after {
  width: 100%;
}

.item-description {
  width: 100%;
  box-sizing: border-box;
  height: max-content;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 880px) {
  .item-description {
    grid-template-columns: repeat(2, 1fr);
  }

  .item-description > .buttons-container {
    grid-column: 1 / 3;
    width: 100%;
    flex-flow: row wrap;
    justify-content: end;
  }
}

@media screen and (max-width: 700px) {
  .item-description {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .item-description > .buttons-container {
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 440px) {
  .item-description {
    padding: 20px 10px;
  }
}

.img-description {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 300px;
}

.small-img-collection {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.item-img-description {
  width: 300px;
  height: 300px;
}

.item-img-description.small-img {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 25%);
}

.item-img-description > img {
  max-width: 100%;
  max-height: 100%;
}

.item-img-description.small-img > img {
  width: 48px;
  height: 48px;
}

.item-text > h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.item-text > p {
  font-size: 1.6rem;
}

.images-description {
  display: flex;
  flex-wrap: wrap;
}

.buttons-container {
  align-self: flex-end;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  gap: 2rem;
}

.cart-description {
  cursor: pointer;
  width: max-content;
  height: 50px;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cart-description > p {
  font-family: 'Jaldi', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
}

.cart-description > img {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 440px) {
  .item-img-description {
    max-width: 240px;
    max-height: 240px;
  }
}