.product_page {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.products__item {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 200px;
  height: 340px;
  border: 1px solid rgb(194, 194, 194);
  box-sizing: border-box;
  padding: 5px;
}

.products__item-pic {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.products__item-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.products__item-btn {
  font-size: 16px;
}

.products__item-discount {
  position: absolute;
  right: 5px;
  top: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 70px;
  background-color: rgb(45, 184, 41);
  color: white;
}

.breadcrumps {
  margin: 1rem;
}

.breadcrumps > span {
  font-size: 2rem;
  margin: 1rem;
}

.breadcrumps-link {
  color: black;
  font-size: 2rem;
}