.purchase-form__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-form {
    width: 400px;
    height: max-content;
    max-height: 95vh;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    box-sizing: border-box;
}

@media screen and (max-width: 420px) {
    .purchase-form__wrapper {
        padding: 0 10px;
    }

    .purchase-form {
        max-width: 400px;
    }
}

.purchase-form div {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #db1e02;
}

.form {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}

.form h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #000;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form div {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
}

.form div label {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #000;
}

.form div input {
    flex: 1 0 auto;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 0.5rem;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #000;
}

.form button {
    align-self: center;
    width: 50%;
    height: 40px;
    background:#db1e02;
    border: none;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.form div div {
    position: absolute;
    top: 1.5rem;
    left: -1.4rem;
    color: #db1e02;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.card-logo-img {
    height: 1rem;
}