.product__item {
  position: relative;
  height: 15vw;
  width: 27vw;
  padding: 0 1rem;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__item-img {
  width: 13vw;
  height: 13vw;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product__item-link,
.product__item-link > img {
  max-width: 12vw;
  max-height: 12vw;
}

.product__item-description {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.product__item-description > h2 {
  max-width: 14vw;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.product__item-description > p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #000;
}

.product__item-description > p > span {
  color: #7e7e7e;
}

.product__item-cart {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #db1e02;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product__item-cart > img {
  width: 32px;
  height: 32px;
}