.app {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.products__item-wrapper {
  width: 65%;
  padding: 30px;
  border-radius: 5px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
}

.products-filters {
  height: 51px;
  padding: 0 35px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.products-found {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

.label-filter {
  position: relative;
  display: flex;
  align-items: center;
}

.label-filter > img {
  position: absolute;
  right: 10px;
  width: 22px;
  height: 22px;
}

.input {
  width: 280px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 33px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.products__wrapper.column {
  justify-content: flex-start;
}

.products__wrapper > p {
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}