@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Jost:wght@300;400&display=swap');

.header {
  width: 100%;
  height: 101px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-link {
  margin-left: 31px;
  display: flex;
  gap: 12px;
  text-decoration: none;
}

.store-logo {
  width: 54px;
  height: 54px;
}

.store-text {
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: black;
}

.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.cart-button {
  width: max-content;
  height: 58px;
  background: #db1e02;
  padding: 0 30px;
  margin-right: 50px;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  cursor: pointer;
}

.cart-text {
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
}