.error {
  width: 100vw;
  height: max-content;
  min-height: calc(100vh - 182px);
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
}

.error__wrapper {
  width: max-content;
  height: max-content;
  text-align: center;
}

.error__wrapper h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #db1e02;
  margin-bottom: 1.5rem;
}

.error__wrapper p {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #000;
}

.error__wrapper div {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.link {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #000;
  cursor: pointer;
}